<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>Report</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/report.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body >
    <div>
        <header>
            <h1>Fill the forms below to submit your report</h1>
        </header>
      <form>
        <div class="form">
            <div>
              <div class="contact-form">
                  <input type="text" required>
                  <span>Location :</span>

              </div>
               <div class="contact-form">
                  <input type="date" required>
                  <span>Date :</span>
              </div>
                            <div class="contact-form">
                <input type="time" required>
                <span>Time :</span>
            </div>
              <div class="contact-form">
                  <textarea name="text"> 
                  </textarea>
                  <span>Describe the incident :</span>
              </div>
              <div class="contact-form">
                <input type="file" required>
                <span>Add image or video(if possible) :</span>
            </div>
                     <div class="contact-form">
                  <input type="submit" name="submit">
                </div>
              </div>
              </div>
               </div>
          </div>     
    </form>
    <div class="logout"><a href="/">Logout</a></div>
</body>

</html> 