<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<!DOCTYPE html>
<html>

<head>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	
	<link rel="stylesheet" type="text/css" href="css/css.css">
</head>

<body>
	<div class="container">
		<div class="logo">
			<img src="images/logoo.jpg " width="300" height="150">
		</div>
		<div class="d-flex justify-content-center h-100">
			<div class="card1">
				<div class="card-header">
					<h3>Create account</h3>
					<p th:value = ${message}></p>

				</div>
				<div class="card-body">
					<form th:action="@{/registered}" th:object="${signup}"
            method="post" >
						

					
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-envelope"></i>
								</span>
							</div>
							<input type="email" th:field="*{email}" class="form-control" placeholder="example@gmail.com" required>
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>


							</div>
							<input type="password" id="password-1" th:field="*{password}" class="form-control" placeholder="password" required>
							<i class="far fa-eye" id="togglePassword"></i>
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>


							</div>
							<input type="password" id="password-2" class="form-control" placeholder="retype password">
							<i class="far fa-eye" id="togglePassword"></i>
						</div>
						
							<small  class = "error-message"id="error-message">error message</small>
						<div class="form-group">
 							<button type="submit" id="submit"class="btn float-right login_btn">Sign Up</button>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						I have already an account &ensp; <a href="/signIn"> login</a>
					</div>
					

				</div>
			</div>
		</div>
	</div>

<script src="javascript/passwordConfirm.js"></script>
s</body>
	
</html>

