* {
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: none; */
  }
  body {
    background-image: url("../images/bgblurr.png"), url("../images/derash.jpg");
    width: 100%;
    height: 100vh;
    background-size: 100% 110vh;
    position: fixed;
  }
  
  header {
    position: fixed;
    width: 76%;
    left: 17%;
    top: 3vw;
    text-align: center;
    font-size: medium;
  }
  
  .content {
    display: flex;
    /* min-height: 110vh; */
  }
  .form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 31px;
    margin-left: 35%;
    justify-content: center;
    align-items: center;
    min-height: 105vh;
  }
  
  .form .contact-form input {
    width: 30rem;
    background-color: transparent;
    border: 0;
    border: transparent;
    margin: 1.7vw;
    padding: 0.65vw;
    font-size: 15px;
    border-bottom: 3px solid #fff;
  }
  span {
    position: absolute;
    left: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.4vw;
  }
  input:focus ~ span {
    transform: translateY(-20px);
    pointer-events: none;
  }
  textarea {
    width: 30rem;
    border: 0px;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid white;
  }
  textarea ~ span {
    position: absolute;
    left: 20px;
    margin-top: 10px;
  }
  textarea:focus ~ span {
    transform: translateY(-20px);
    pointer-events: none;
  }
  .contact-form input[type="submit"] {
    background-color: lightseagreen;
    border-style: none;
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
  }
  .contact-form input[type="submit"]:hover {
    background-color: black;
    text-decoration: underline;
    cursor: pointer;
  }
  .logout {
    background-color: lightseagreen;
    width: 10%;
    text-align: center;
    text-decoration: none;
    float: right;
    border-style: none;
    font-size: 18px;
    bottom: 0;
  }
  /* li{
      margin: 20px 15px;
  } */
  
  