body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Raleway", sans-serif;
  color: rgb(61, 59, 59);
}
.derash {
  height: 100vh;
  width: 100%;
  background: url("../images/bgblurr.png"), url("../images/derash.jpg");
  background-position: top;
  background-size: cover;
  /* background-repeat: no-repeat; */
}
.derash .navbar {
  margin-top: 4%;
}
.derash .nav li a {
  color: rgb(245, 244, 244);
  font-size: 1.2em;
  font-weight: bolder;
}
.derash .nav li a:hover {
  color: white;
  background-color: black;
  text-decoration: underline;
}
.derash .info {
  margin-top: 7%;
  transform: translateY(-15%);
}
.derash .info h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: rgb(202, 202, 202);
  letter-spacing: 2px;
  text-decoration: underline;
}
.derash .info p {
  font-size: 2em;
  font-weight: 500;
  color: rgb(250, 250, 250);
  font-weight: bolder;
  letter-spacing: 3px;
}
.derash .info a {
  margin-left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: lightseagreen;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: bold;
}
.derash .info a:hover {
  background: #0e0005;
  text-decoration: underline;
}
